<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.png" type="image/png">
    <title>纲别检索</title>

    <!--Begin  Page Level  CSS -->
    <link href="assets/plugins/morris-chart/morris.css" rel="stylesheet">
    <link href="assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet"/>
    <!--End  Page Level  CSS -->
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->



</head>

<body class="sticky-header">

<script>
    function getAllBiologyByGANG(){
        var GANG = document.getElementById("GANG").value;
        var data = {"GANG":GANG};
        var url = "findByGANG";
        $.ajax({
            type:"post",
            data:data,
            url:url,
            async:false,
            success:function(data){
                $("#allBiology").html("");
                if(data.length == 0){
                    alert("暂无数据");
                }else{
                    for(var i = 0 ; i < data.length ; i++){
                        $("#allBiology").append("<tr>"+"<td>"+data[i].name+"</td>"+"<td>"+data[i].jie+"</td>"+"<td>"+data[i].men+"</td>"+"<td>"+data[i].gang+"</td>"+"<td>"+data[i].mu+"</td>"+"<td>"+data[i].ke+"</td>"+"<td>"+data[i].shu+"</td>"+"</tr>");
                    }
                }
            }
        })
    }
</script>

<!--Start left side Menu-->
<div class="left-side sticky-left-side">

    <!--logo-->
    <div class="logo">
        <a href="#"><img src="assets/images/logo.png" alt=""></a>
    </div>

    <div class="logo-icon text-center">
        <a href="#"><img src="assets/images/logo-icon.png" alt=""></a>
    </div>
    <!--logo-->

    <div class="left-side-inner">
        <!--Sidebar nav-->
        <ul class="nav nav-pills nav-stacked custom-nav">

            <li><a href="foreJIESearch"><i class="icon-note"></i> <span>界别检索</span></a></li>
            <li><a href="foreMENSearch"><i class="icon-note"></i> <span>门类检索</span></a></li>
            <li><a href="foreGANGSearch"><i class="icon-note"></i> <span>纲别检索</span></a></li>
            <li><a href="foreMUSearch"><i class="icon-note"></i> <span>目别检索</span></a></li>
            <li><a href="foreKESearch"><i class="icon-note"></i> <span>科别检索</span></a></li>
            <li><a href="foreSHUSearch"><i class="icon-note"></i> <span>属类检索</span></a></li>
            <li><a href="foreManyColumnSearch"><i class="icon-note"></i> <span>综合检索</span></a></li>




        </ul>
        <!--End sidebar nav-->

    </div>
</div>
<!--End left side menu-->


<!-- main content start-->
<div class="main-content" >

    <!-- header section start-->
    <div class="header-section">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>



        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">



                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/images/users/avatar-6.jpg" alt="" />
                        <span th:if="${null!=session.user}">
		                    <a href="#" th:text="${session.user.name}"></a>
	                    </span>


                        <span th:if="${null==session.user}">
		                    <a href="login">请登录</a>
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li> <a href="#"> <i class="fa fa-wrench"></i> Settings </a> </li>
                        <li> <a href="forelogout"> <i class="fa fa-lock"></i> Logout </a> </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->


    <!--body wrapper start-->
    <div class="wrapper">

        <div style="position:relative;width:1000px;height:600px;overflow: auto;">
            <div style="position: absolute;float: left;margin-left: 30%;">
                <input id="GANG" style="font-size: 18px;width:300px;height:35px;" placeholder="输入搜索的纲别"><button class="btn btn-primary" style="font-size: 18px;" onclick="getAllBiologyByGANG()">搜索</button>
            </div>

            <div style="position: absolute;float: left;margin-top: 10%;width:800px;margin-left: 12%;">
                <table class="table" style="font-size: 18px;background-color: white;">
                    <thead>
                    <tr>
                        <td>名称</td>
                        <td>界</td>
                        <td>门</td>
                        <td>纲</td>
                        <td>目</td>
                        <td>科</td>
                        <td>属</td>
                    </tr>
                    </thead>
                    <tbody id="allBiology"></tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- End Wrapper-->


    <!--Start  Footer -->
    <footer class="footer-main">Copyright &copy; 2018.Company name All rights reserved.<a target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></footer>
    <!--End footer -->

</div>
<!--End main content -->



<!--Begin core plugin -->

<script src="assets/plugins/moment/moment.js"></script>
<script  src="assets/js/jquery.slimscroll.js "></script>
<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/functions.js"></script>
<!-- End core plugin -->

<!--Begin Page Level Plugin-->
<script src="assets/plugins/morris-chart/morris.js"></script>
<script src="assets/plugins/morris-chart/raphael-min.js"></script>
<!--<script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>-->
<script src="assets/pages/dashboard.js"></script>
<!--End Page Level Plugin-->



</body>

</html>
